<div class="{{dlgClass}} template modal">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">&times;</a>
        <h1 class="dialog-title">{{Strings.DELETE_CONFIRMATION_TITLE}}</h1>
    </div>
    <div class="modal-body">
        <p>{{Strings.DELETE_CONFIRMATION_MESSAGE}}</p>
    </div>
    <div class="modal-footer">
        <button class="dialog-button btn primary" data-button-id="ok">{{Dialogs.DIALOG_BTN_OK}}</button>
        <button class="dialog-button btn" data-button-id="cancel">{{Dialogs.DIALOG_BTN_CANCEL}}</button>
    </div>
</div>
